---
layout: default
title: "Emily Davis, Software & Translation"
---

<section class="projects">
  <h2 class="visually-hidden" id="projects-heading">Software & Translation Projects</h2>
  <div role="tablist" aria-labelledby="projects-heading">
    <button
      aria-controls="tabpanel-1"
      aria-selected="true"
      class="tab bg-software heading-2"
      id="tab-1"
      role="tab"
    >
      Software
      <div class="border-mask"></div>
    </button>
    <button
      aria-controls="tabpanel-2"
      aria-selected="false"
      class="tab bg-translation heading-2"
      id="tab-2"
      role="tab"
      tabindex="-1"
    >
      Translation
      <div class="border-mask"></div>
    </button>
  </div>
  <div
    aria-labelledby="tab-1"
    class="tabpanel bg-software"
    id="tabpanel-1"
    role="tabpanel"
  >
    {% for project in site.data.software %}
      {% include software-card.html project=project %}
    {% endfor %}
  </div>
  <div
    aria-labelledby="tab-2"
    class="tabpanel bg-translation hidden"
    id="tabpanel-2"
    role="tabpanel"
  >
    {% for project in site.data.translation %}
      {% include translation-card.html project=project %}
    {% endfor %}
  </div>
</section>

<div class="about">
  <section>
    <h2 class="heading-2">About me</h2>
    {% include about-me.html %}
  </section>
  <section>
    <h2 class="heading-2">About this site</h2>
    {% include about-this-site.html %}
  </section>
</div>