/* Background(s) */

body {
	
	background: #0D3138;
/*
	background: linear-gradient(#bcf, #fff, #bcf);
	background: -webkit-linear-gradient(#0D3138, #0D3138, #fff, #45172A);
	background: -o-linear-gradient(#bcf, #fff, #bcf);
	background: -moz-linear-gradient(#bcf, #fff, #bcf);
*/
/*
	padding-bottom: 100px;
*/
}

section {
	min-height: 100vh;
}

/*
.main-section {
	margin: 0px auto;
}
*/


/* General Text Styling */

h1, h2, h3, p {
	font-family: Gill Sans, HelveticaNeue, Helvetica, sans-serif;
}

h1 {
	padding-bottom: 20px;	
	font-size: 48px;
	color: #ccc;
}

p {
	font-size: 18px;
	color: #ccc;
}




/* Links */

a:hover, a:visited, a:link, a:active {
	color: #111;
	text-decoration: none;
}

.dotted-underline {
	border-bottom: 1px dotted #999;
}

.dotted-underline:hover {
	border-bottom: 1px solid #555;
}



/* Nav and Related Styling */

.navbar {
	opacity: 0.7;
}

.navbar {
	float: right;
}

.navbar li {
	text-align: right;
	font-family: GillSans, sans-serif;
	font-size: 18px;
}

/*
.room-for-menu {
	padding-top: 300px;
}
*/

/* Splash Section */

.splash-section {
/*
	background: linear-gradient(#0D3138, #fff);
 	background: -webkit-linear-gradient(#0D3138, #fff);
    background: -o-linear-gradient(#0D3138, #fff); 
	background: -moz-linear-gradient(#0D3138, #fff);
*/
	background: #0D3138;	
	text-align: center;
	padding: 22% 15% 0 15%;
	margin: 50px auto 0 auto;
}

.name {
	font-size: 72px; 
	color: #eee;
}

.tagline, .city {
	font-size: 40px;
	color: #eee;
}

/* About Section */

.about-text {
	display: block;
	color: #aaa;
}

.about-text a {
	color: #aaa;
}

.about-section h1 {
	color: #aaa;
}

.about-photo {
	max-height: 250px;
	margin: auto;
	margin-bottom: 24px;
	border-radius: 8%;
}

.about-section {
	padding: 15% 15% 0 15%;
}

/* Portfolio Section */

.thumbnail:hover {
	opacity: 0.8;
}

.thumbnail .caption {
	text-align: center;
	color: #111;
}

.thumbnail .caption p {
	color: #111;
}

.thumbnail img {
	max-height: 260px;
}

.portfolio-section {
	padding: 12% 5% 20% 5%;
}

.portfolio-subheading {
	margin-top: -20px;
	padding-bottom: 20px;
	color: #ccc;
}



/* Contact Section */

.fa, .fcc-block {
	display: block;
	text-align: center;
	opacity: 1;
	color: #111;
	text-decoration: none;
	margin-top: 36px;
}

.fcc-logo {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 4px auto;
	border-radius: 20%;
}

.fa-twitter-square {
	color: #00aced;
}

.fa-linkedin-square {
	color: #007bb6;
}

.icon-caption {
	color: #eee;
	display: none;
	text-align: center;
	text-decoration: none;
	margin-bottom: -20px;
}

.contact-section {
	padding: 20% 10% 20% 10%;
}

.contact-section p {
	padding-bottom: 20px;
}


