/* Background(s) */

body {
	
	background: #0D3138;
/*
	background: linear-gradient(#bcf, #fff, #bcf);
	background: -webkit-linear-gradient(#0D3138, #0D3138, #fff, #45172A);
	background: -o-linear-gradient(#bcf, #fff, #bcf);
	background: -moz-linear-gradient(#bcf, #fff, #bcf);
*/
/*
	padding-bottom: 100px;
*/
}

section {
	min-height: 100vh;
}

/*
.main-section {
	margin: 0px auto;
}
*/


/* General Text Styling */

h1, h2, h3, p {
	font-family: Gill Sans, HelveticaNeue, Helvetica, sans-serif;
}

h1 {
	padding-bottom: 20px;	
	font-size: 48px;
}

p {
	font-size: 18px;
}

h1, p, a {
    color: #eee;
}

nav a {
    color: #555 !important;
}

nav a:hover,
nav a:focus {
    color: #111 !important;
}


/* Links */

a:hover, a:visited, a:link, a:active {
	color: #eee;
	text-decoration: none;
}

.dotted-underline {
	border-bottom: 1px dotted #999;
}

.dotted-underline:hover {
	border-bottom: 1px solid #999;
}



/* Nav and Related Styling */

.navbar {
	opacity: 0.7;
}

.navbar {
	float: right;
}

.navbar li {
	text-align: right;
	font-family: GillSans, sans-serif;
	font-size: 18px;
}

/*
.room-for-menu {
	padding-top: 300px;
}
*/

/* Splash Section */

.splash-section {
/*
	background: linear-gradient(#0D3138, #fff);
 	background: -webkit-linear-gradient(#0D3138, #fff);
    background: -o-linear-gradient(#0D3138, #fff); 
	background: -moz-linear-gradient(#0D3138, #fff);
*/
	background: #0D3138;	
	text-align: center;
	padding: 22% 15% 0 15%;
	margin: 50px auto 0 auto;
}

.name {
	font-size: 72px; 
	color: #eee;
}

.tagline, .city {
	font-size: 40px;
	color: #eee;
}

/* About Section */

.about-text {
	display: block;
}

.social-links {
    margin-top: 20px;
}

a.social-link,
a.social-link:hover,
a.social-link:focus {
    text-decoration: none;
}

a.social-link {
    margin-right: 16px;
}

a.social-link:hover,
a.social-link:focus {
    color: #df1;
    transition: .1s ease-in-out all;    
}


.about-photo {
	max-height: 250px;
	margin: auto;
	margin-bottom: 24px;
	border-radius: 8%;
}

.about-section {
	padding: 15%;
}
