<p>Hi! I'm Emily, and I build things with language.</p>
<p>
  My first programming language was
  <a href="https://en.wikipedia.org/wiki/Logo_(programming_language)">Logo</a>,
  and my first website was on
  <a href="https://en.wikipedia.org/wiki/GeoCities">GeoCities</a>.
  I majored in Spanish, went on to pursue translation,
  and eventually found my way back to programming.
</p>
<p>
  Thus far, I've mostly focused on the web, but I'm drawn to explore
  other avenues as well, which is one of the reasons I'm currently
  working on a second bachelor's degree in Computer Science.
</p>
<div class="link--standalone">
  <a href="https://www.linkedin.com/in/emilydavis-boise/">
    My LinkedIn profile
  </a>
</div>
<div class="link--standalone">
  <a href="https://github.com/emilyanndavis">
    My GitHub profile
  </a>
</div>